/**
 * @author Oleh Kuznets
 * Author GitHub: https://github.com/oleh-kuznets
 * © 2022 Oleh Kuznets, Bank of Memories Ltd. All rights reserved.
 */
@import (reference) 'variables.less';

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
}

.loading {
	height: 64px;
}

