@import (reference) 'variables.less';

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
	width: 500px;
	height: 550px;
	border-radius: 16px;
	box-shadow: 0 6px 20px var(--blue-50);
	background-color: var(--cool-gray-00);
}
