<svg
	[attr.width]="width"
	[attr.height]="height"
	[attr.class]="className"
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 256 256">
	<rect width="20" height="20" rx="10" fill="#DDE1E6" />
	<line
		x1="56"
		y1="100"
		x2="200"
		y2="100"
		fill="none"
		stroke="#000"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-width="24" />
	<line
		x1="56"
		y1="52"
		x2="200"
		y2="52"
		fill="none"
		stroke="#000"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-width="24" />
	<line
		x1="128"
		y1="100"
		x2="128"
		y2="212"
		fill="none"
		stroke="#000"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-width="24" />
</svg>
