@import (reference) 'variables.less';

.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding-top: 100px;

	@media @low-l {
		padding-top: 160px;
	}
}

.no-header {
	padding-top: 0;
}
