<gbm-icon [@fade]
					*ngIf="showHeader"
					class="logo"
					[name]="'logo'"
					[width]="'160px'"
					[height]="'80px'"
					[fill]="'--cool-gray-100_light'">
</gbm-icon>

<main *ngIf="!isMobile"
			class="content"
			[class.no-header]="!showHeader"
			gbmConnectionState
			[@RouteAnimations]="prepareRoute(outlet)">
	<gbm-toast></gbm-toast>

	<router-outlet #outlet="outlet"></router-outlet>
</main>

<div [@fade]
		 *ngIf="isMobile"
		 class="empty">
	<gbm-icon [width]="'160px'"
						[height]="'160px'"
						[name]="'robot'"
						[fill]="'--cool-gray-80_light'"></gbm-icon>

	<gbm-heading class="empty-heading"
							 [tag]="'h1'"
							 [color]="'var(--cool-gray-80)'"
							 [className]="'gbm-subheading-1'"
							 [title]="'Bridge is unavailable for the mobile and tablet devices right now, please try again on your Desktop device'">
	</gbm-heading>
</div>