<section class="wallets">
  <h4 class="gbm-heading-5">Select Wallet</h4>
  <!-- <div class="wallets-header">
    <h4 class="gbm-heading-5 wallets-header__title">Wallets</h4>
    <gbm-icon [name]="'close'"
              [fill]="'--cool-gray-50_light'"
              [width]="'20px'"
              [height]="'20px'">
    </gbm-icon>
  </div> -->
  <div class="wallets-body">
    <div class="wallets-body__cards">
      <div class="wallets-body__cards-item">
        <gbm-icon [name]="'gbmCoin'"
                  [width]="'40px'"
                  [height]="'40px'"
                  [fill]="'--blue-60_light'">
        </gbm-icon>

        <h4 class="wallets-body__cards-item__title">Metamask Wallet</h4>

        <div class="wallets-body__cards-item__info">
          <span class="gbm-body-2 wallets-body__cards-item__info-content">Wallet: 
            <strong>
              ID8943jggjodvj0w9j0w9ej092j0f2j20
            </strong>
            <gbm-icon ngxClipboard
                      [cbContent]="'AAAAAgAAAACpp/tVK5FVp+N7eRrGLxHTg+R8Dw5nvN4Zo'"
                      [name]="'copy'"
                      [width]="'22px'"
                      [height]="'22px'">
            </gbm-icon>
          </span>
          <span class="gbm-body-2 wallets-body__cards-item__info-content">Balance: 
            <strong>
              12.45645645 ETH
            </strong>
          </span>
        </div>

        <div class="wallets-body__cards-item__actions">
          <gbm-button class="wallets-body__cards-item__actions-btn"
                      [title]="'Select'"
                      [className]="'gbm-btn gbm-btn-sm gbm-btn-full-width gbm-btn-primary gbm-btn-rounded gbm-button-4'">
          </gbm-button>

          <gbm-button class="wallets-body__cards-item__actions-btn"
                      [title]="'Connect'"
                      [className]="'gbm-btn gbm-btn-sm gbm-btn-full-width gbm-btn-secondary gbm-btn-rounded gbm-button-4'">
          </gbm-button>
        </div>
      </div>

      <div class="wallets-body__cards-item">
        <gbm-icon [name]="'gbmCoin'"
                  [width]="'40px'"
                  [height]="'40px'"
                  [fill]="'--blue-60_light'">
        </gbm-icon>

        <h4 class="wallets-body__cards-item__title">Metamask Wallet</h4>

        <div class="wallets-body__cards-item__info">
          <span class="gbm-body-2 wallets-body__cards-item__info-content">Wallet: 
            <strong>
              ID8943jggjodvj0w9j0w9ej092j0f2j20
            </strong>
            <gbm-icon ngxClipboard
                      [cbContent]="'AAAAAgAAAACpp/tVK5FVp+N7eRrGLxHTg+R8Dw5nvN4Zo'"
                      [name]="'copy'"
                      [width]="'22px'"
                      [height]="'22px'">
            </gbm-icon>
          </span>
          <span class="gbm-body-2 wallets-body__cards-item__info-content">Balance: 
            <strong>
              12.45645645 ETH
            </strong>
          </span>
        </div>

        <div class="wallets-body__cards-item__actions">
          <gbm-button class="wallets-body__cards-item__actions-btn"
                      [title]="'Select'"
                      [className]="'gbm-btn gbm-btn-sm gbm-btn-full-width gbm-btn-primary gbm-btn-rounded gbm-button-4'">
          </gbm-button>

          <gbm-button class="wallets-body__cards-item__actions-btn"
                      [title]="'Connect'"
                      [className]="'gbm-btn gbm-btn-sm gbm-btn-full-width gbm-btn-secondary gbm-btn-rounded gbm-button-4'">
          </gbm-button>
        </div>
      </div>
    </div>

  </div>
</section>