@import (reference) 'variables.less';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(ellipse at top, #F5F7FA, transparent), radial-gradient(ellipse at bottom, #B8C6DB, transparent);
  min-height: 100vh;

  &-logo {
    margin-top: 48px;
  }

  &-form {
    width: 100%;
    padding: 24px;

    @media @s {
      width: 720px;
    }

    &__footer {
      margin-top: 48px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      &-contacts,
      &-user {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__container {
          display: flex;
          align-items: center;
          gap: 6px;
        }

        .logout-clickout {
          cursor: pointer;
        }
      }
    }
  }
}