<section class="home">
  <gbm-spinner [@fade]
               *ngIf="loading"
               [color]="'--static-white_light'"
               width="80px"
               height="80px">
  </gbm-spinner>

  <div [@fade]
       *ngIf="!loading"
       class="home-form">
    <br-bridge-wallet></br-bridge-wallet>
    <br-bridge-form></br-bridge-form>

    <div class="home-form__footer">
      <div class="home-form__footer-contacts">
        <span class="gbm-body-1">Support</span>
        <div class="home-form__footer-contacts__container">
          <a class="gbm-body-1 gbm-link"
             href="mailto:info@bankofmemories.org">info@bankofmemories.org</a>
        </div>
      </div>

      <div class="home-form__footer-user">
        <div (click)="logOut()"
             class="home-form__footer-user__container logout-clickout">
          <span class="gbm-body-1">Logout</span>
          <gbm-icon [name]="'logout'"
                    [width]="'24px'"
                    [height]="'24px'">
          </gbm-icon>
        </div>
      </div>
    </div>
  </div>

  <div [@fade]
       *ngIf="emptyState"
       class="home-empty-state">
    <gbm-icon [width]="'160px'"
              [height]="'160px'"
              [name]="'robot'"
              [fill]="'--cool-gray-80_light'"></gbm-icon>

    <gbm-heading class="shome-empty-state__heading"
                 [tag]="'h1'"
                 [color]="'var(--cool-gray-80)'"
                 [className]="'gbm-subheading-1'"
                 [title]="'Bridge is unavailable right now, please try again later or contact us'">
    </gbm-heading>
  </div>
</section>
<div class="home-wrapper"></div>